[supervisord]
environment=GOOGLE_APPLICATION_CREDENTIALS=<<replace_me>>

[program:mongodb_collection_cdc_<<collection_name>>]
command=python3 mongodb_cdc.py --project_id <<replace_me>> --topic <<replace_me>> --mongodb_host <<replace_me>> --port <<replace_me>> --collection <<replace_me>> --threshold <<replace_me>>
autostart=true
autorestart=true
stderr_logfile=mongodb_collection_cdc_<<collection_name>>_error.log
stdout_logfile=mongodb_collection_cdc_<<collection_name>>_out.log